.UserPublicationCard {
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: max-content;
    margin: auto;
    margin-bottom: 50px;
}


.UserPublicationCard .cardContent {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}
