.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	background-color: #d2bfb0;
    box-shadow: 2px 2px 5px black;
    margin-top: 6vh;
    padding: 10px;
}

.Footer .createdBy {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.Footer .copyRights {
    margin-top: auto;
}
